.about-page

.the-team
  text-align: center
  .teammate
    display: inline-block
    margin: 7px
    height: 160px
    width: 220px
    vertical-align: top
    position: relative
    .teammate-info
      cursor: help
      background: rgba($cyan, .65)
      color: black
      opacity: 0
      transition: all .3s
      +expand-to-fit
      &:hover
        opacity: 1
    
    .role
      margin-top: 40px
      background: image-url("dotted-row-people.png") no-repeat 50% 80%
      padding-bottom: 15px

    .fullname
      strong
        display: block
        line-height: 17px

  @media (max-width: $screen-xs-max)
    .blank-teammate
      display: none