.section-comum
  background-color: $cream
  color: white
  text-align: center
  position: relative
  +decorative-content(before, false)
    +stick-to(top, absolute, 100px)
    background: $cyan $dotted-bg-light
  .column
    height: 440px
  .comum-title
    font-family: $font-cursive
    font-size: 30px
    font-weight: bold
    margin-bottom: 30px
    position: relative
    top: -60px
    z-index: 20
  .comum-list
    background: rgba($cyan,.7) $dotted-bg-light
    padding: 30px
    border-radius: 100%
    font-size: 20px
    width: 340px
    height: 340px
    position: absolute
    +absolute-centering(340px)
  .comum-link
    font-family: $font-cursive
    font-size: 30px
    +decorative-content
      +sprite-replace("comum-underline")
      margin-left: -15px
    &:hover
      text-decoration: none
  @media (max-width: $screen-xs-max)
    &:before
      height: 40px
    .column
      height: 360px
    .comum-title
      bottom: -30px
      top: auto
    .comum-list
      font-size: 17px
      padding-top: 70px
      top: 0

.container-14-minutes
  text-align: center
  font-family: $font-cursive
  h3
    font-size: 30px
    &.highlight
      margin-top: 0
      color: $brand-primary
      font-size: 38px
  .paragraph-14-minutes
    font-family: $font-family-base
    font-size: 20px
.home-page .content-section
  padding: 90px 10px
.heading-14-minutes
  width: 36%
  float: left
  clear: none
  font-size: 5em
  color: $cream
  text-align: right
  position: relative
  top: 40px
  &.left
    text-align: left
  @media (max-width: $screen-xs-max)
    width: 100%
    float: none
    text-align: center !important
    position: static
.image-14-minutes
  width: 28%
  height: 100%
  float: left
  padding: 5px
  img
    display: inline-block
    vertical-align: center
  @media (max-width: $screen-xs-max)
    float: none
    width: 100%